{% extends 'todoapp/base.html' %}

{% block title %}Todo List{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12 mb-4">
        <div class="d-flex justify-content-between align-items-center">
            <h1 class="h3">My Tasks</h1>
            <a href="{% url 'todo_create' %}" class="btn btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg me-1" viewBox="0 0 16 16">
                    <path d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z"/>
                </svg>
                Add Task
            </a>
        </div>
    </div>
</div>

{% if todos %}
    <div class="row">
        {% for todo in todos %}
            <div class="col-md-12 mb-3">
                <div class="card todo-card {% if todo.completed %}todo-completed{% endif %}">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <h5 class="todo-title mb-1">{{ todo.title }}</h5>
                                {% if todo.description %}
                                    <p class="mb-2">{{ todo.description }}</p>
                                {% endif %}
                                <div>
                                    <small class="text-muted">Created: {{ todo.created_at|date:"M d, Y" }}</small>
                                    {% if todo.due_date %}
                                        <span class="badge badge-due ms-2">Due: {{ todo.due_date|date:"M d, Y" }}</span>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="d-flex">
                                <form method="post" action="{% url 'todo_toggle_complete' todo.id %}" class="me-2">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-sm {% if todo.completed %}btn-outline-success{% else %}btn-success{% endif %} todo-action" title="{% if todo.completed %}Mark as incomplete{% else %}Mark as complete{% endif %}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                                            <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                                        </svg>
                                    </button>
                                </form>
                                <a href="{% url 'todo_update' todo.id %}" class="btn btn-sm btn-outline-primary todo-action me-2" title="Edit">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                    </svg>
                                </a>
                                <a href="{% url 'todo_delete' todo.id %}" class="btn btn-sm btn-outline-danger todo-action" title="Delete">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <div class="text-center p-5 bg-light rounded-3 mb-4">
        <h3 class="mb-3">No tasks yet</h3>
        <p class="mb-4">You haven't created any tasks yet. Click the button below to add your first task.</p>
        <a href="{% url 'todo_create' %}" class="btn btn-primary px-4 py-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg me-1" viewBox="0 0 16 16">
                <path d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z"/>
            </svg>
            Add Your First Task
        </a>
    </div>
{% endif %}
{% endblock %}